# Dependencies
node_modules/

# Build output
lib/

# Expo / React Native
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# iOS
example/ios/build/
example/ios/Pods/
example/ios/*.xcworkspace/xcuserdata/
example/ios/DerivedData/

# Android
example/android/build/
example/android/.gradle/
example/android/app/build/
example/android/local.properties

# macOS
.DS_Store

# Yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
